*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgb(40, 172, 196) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 30px 20px;
    border-radius: 10px;
}
.container h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin-bottom: 100px;
}
#row{
    display: flex;
    align-items: center;
    background-color: cyan;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 30px;
    color: #000000;
}
#row input{
    flex: 1;
    outline: none;
    border: none;
    padding: 10px;
    background: transparent;
    font-size: 1.2em;
    color: black;
}
#row input::placeholder{
    color: gray;
}
#row button{
    font-size: 1em; 
    font-weight: bold;
    outline: none;
    border: none;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: black;
    color: cyan;
    cursor: pointer;
}
ul{
    max-height: 300px;
    overflow-y: auto;
}
ul::-webkit-scrollbar {
    width: 6px;
}
ul::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 5px;
}
ul::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}
ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 1.5em;
    margin: 12px 50px;
    padding: 12px 8px 12px 50px;
    color: cyan;
    border-block: 1px solid cyan;
    position: relative;
}
ul li span{
    position: absolute;
    right: 0px;
    top: 4.5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: gray;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    content: "";
    background-image: url(assets/tick-circle.svg);
    height: 28px;
    width: 28px;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 5px;
}